* {
    color: white;
    font-family: "Hack", "Hack", monospace, bold;
}
#slideshow {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 256px;
}
#buttons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
#title {
    text-align: center;
}