* {
    font-family: "Hack", "Hack", monospace, bold;
    color: white;
}
#versions {
    padding-top: 0.5%;
}
#devs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}
#devs div {
    width: 75%;
}
@media screen and (max-width: 1120px) {
    #devs {
        flex-direction: column;
    }
}
iframe.center {
    width: 100%;
}