#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}